* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Start coding here */
:root {
  --branding-color: #ff7f50;
  --secondary-color: cornsilk;
  --highlight-color: #d2691e;
  --muted-color: #a9a9a9;
  --margin-1: 1px;
  --margin-2: 5px;
  --margin-3: 10px;
  --margin-4: 15px;
  --margin-5: 20px;
  --padding-1: 1px;
  --padding-2: 5px;
  --padding-3: 10px;
  --padding-4: 15px;
  --padding-5: 20px;
  --font-small: 12px;
  --font-medium: 16px;
  --font-large: 20px;
  --font-extra-large: 30px;
  --font-double-extra-large: 50px;
  --font-triple-extra-large: 100px;
}

.introduction {
  background-color: var(--secondary-color);
  padding: var(--padding-5);
}

.h1 {
  color: var(--branding-color);
  font-size: var(--font-triple-extra-large);
}
